<!DOCTYPE html>
<html>
  <head>
    <title>Lat/Lng Object Literal</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgWXlb06nIAfh69shg_ebakdkOAgcP5Hg&callback">
      
    </script>
    <script type="text/javascript">
      var map;
      function initialize() {
        var mapOptions = {
          zoom: 15,
          center: {lat: 43.317776, lng: 45.694909}
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        google.maps.event.addListener(map, 'click', function(event){
          placeMarker(event.latLng);
        });
        placeCrimes({{crimes | safe}});
      }
      function placeMarker(location){
        var market = new google.maps.Marker({
          position: location,
          map: map
        });
      }
      function placeCrimes(crimes) {
      for (i=0; i<crimes.length; i++) {
        crime = new google.maps.Marker( {
          position: new google.maps.LatLng(crimes[i].latitude, crimes[i].longitude),
          map: map,
          title: crimes[i].date + "\n" + 
            crimes[i].category + "\n" + crimes[i].description
          }
        );
      }
    }
      document.getElementById('latitude').value = location.lat();
      document.getElementById('longitude').value = location.lng();
    </script>
  </head>
  <body onload="initialize()">
    <h1>CrimeMap</h1>
      <p>A map of recent criminal activity in the Grozny area.</p>
      <div id="map-canvas"></div>
      <div id="newcrimeform">
        <h2>Submit new crime</h2>
        <form action="/submitcrime" method="POST">
          <label for="category">Category</label> 
          <select name="category" id="category">
              <option value="mugging">Mugging</option>
              <option value="breakin">Break-in</option>
          </select> 
          <label for="date">Date</label>
          <input name="date" id="date" type="date">
          <label for="latitude">Latitude</label>
          <input name="latitude" id="latitude" type="text">
          <label for="longitude">Longitude</label>
          <input name="longitude" id="longitude" type="text">
          <label for="description">Description</label>
          <textarea name="description" id="description" placeholder="краткое описание"></textarea>
          <input type="submit" value="Submit">
        </form>
    </div>
    
  </body>
</html>